<p>Please click on the links to navigate through my site</p>
<nav>
    
    <a href="https://webpages.charlotte.edu/malikha1/" target="_blank">CLT Web</a> |
    <a href="https://www.freecodecamp.org/malikha1" target="_blank">Freecodecamp</a> |
    <a href="https://www.codecademy.com/profiles/MujtabaKhan49er" target="_blank">Codeacademy</a> |
    <a href="https://github.com/MujtabaK49er" target="_blank">Github</a> |
    <a href="https://github.com/MujtabaK49er/MujtabaK49er.github.io" target="_blank">Github.io</a> |
    <a href="linkedin.com/in/mujtaba-ali-khan-607b2928a" target="_blank">LinkedIn</a>

</nav>
<p>
    Pages built by 
    <a href = "MujtabaKhanStudios.com.html">MKHAN Studio</a> &copy; 2024
    <a href = "https://www.freecodecamp.org/certification/MujtabaKhan49er/responsive-web-design">Certified in Responsive Web Design</a> 
    ,
    <a href = "https://www.freecodecamp.org/certification/MujtabaKhan49er/javascript-algorithms-and-data-structures-v8">Certified in JS</a>
</p>



<a id="validation-link-html" href="">
    <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="validation button image">
</a>
<a id="validation-link-css" href="">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="validation button image">
</a>

<!-- {"name": "CLT Web", "url": "https://webpages.uncc.edu/malikha1/"},
    {"name": "Github Page", "url": "https://github.com/MujtabaK49er/MujtabaK49er.github.io/tree/main"},
    {"name": "Github Course Page", "url": "https://github.com/MujtabaK49er/MujtabaK49er.github.io/tree/main/itis3135"},
    {"name": "Github", "url": "https://github.com/MujtabaK49er"},
    {"name": "Freecode Camp", "url": "https://www.freecodecamp.org/MujtabaKhan49er"},
    {"name": "CodeAcademy", "url": "https://www.codecademy.com/profiles/MujtabaKhan49er"},
    {"name": "LinkedIn", "url": "https://www.linkedin.com/in/mujtaba-ali-khan-607b2928a"} -->